= render 'shared/flash_notice' if notice
= render 'search'
.pull-left
.pull-right.book-count-block
  %p.text-info
    = pluralize(@books.count, 'book')
    in the catalog
.clearfix
- if @books.any?
  = render @books
-else
  .alert.alert-danger.alert-big.text-center No books found 