.review-block {
  padding-left: 10px;
  border-left: 10px solid #eee;
  .delete-review {
    color: #f00;
  }
  .review-author {
    font-size: 1.1em;
    .review-user-name {
      font-weight: bold;
      font-style: italic;
    }
  }
}
.add-review-block {
  textarea {
    min-height: 120px;
    font-size: 1.2em;
  }
}